            <div class='tax_editor indirect_taxes'>
              <p>Income Tax</p>
            </div>



            <div class='tax_editor indirect_taxes'>
              <p>National Insurance</p>
            </div>    



            <div class='tax_editor indirect_taxes'>
              <p>Capital Taxes</p>
            </div>    

            <div class='tax_editor indirect_taxes'>
              <p>Council Taxes</p>
            </div>    


            <div class='tax_editor indirect_taxes'>
              <p>Indirect Taxes</p> 
            </div>